<div class="homepage-background d-flex align-items-center justify-content-center">
  <div class="d-flex flex-column">
    <h1 class="page-title">Mr Cocktail</h1>
    <%= link_to 'Enter', cocktails_path, class: 'btn-enter align-self-center' %>
  </div>
</div>