.page-title {
  font-size: 8rem;
  color: rgb(255, 255, 98);
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  font-family: "Bardon Demo";
}

@media (max-width: 420px) {
  .page-title {
    font-size: 4rem;
  }
}